<section class="container">
  <section class="header">
    {{#link-to "index"}}
      <h1>
        משימות
      </h1>
    {{/link-to}}
    {{#link-to "create" class="menu-create"}}
      <span>הוסף משימה</span>
    {{/link-to}}
  </section>
  <section class="body">
    {{outlet}}
  </section>
</section>