<section class="footer">
  {{#todo-footer-todo todos=todos}}
  {{/todo-footer-todo}}
  {{#todo-footer-done todos=todos}}
  {{/todo-footer-done}}
  {{#todo-footer-total total=todos.length}}
  {{/todo-footer-total}}
</section>