<article class="todo">
    <div class="todo state">
      <input type="checkbox" disabled={{ todo.done }} {{action "toggleCheckBox" on="change"}} >
    </div>
    {{#ember-inline-edit showSaveButton=false showCancelButton=false value=todo.body onSave=(action "onSave")  }}
    {{/ember-inline-edit}}
    <button {{action "onDelete"}}>Delete</button>
  </article>